body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
span {
  font-size: 20px;
}
.content {
  margin-top: 80px;
}