/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_img__434ND {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.page_main__GlU4n{
  max-width: 100%;
  padding: 50px 5vw 0 5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  gap: 50px;
}
.page_container__aoG4z {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-row-gap: 5vw;
  row-gap: 5vw;
  grid-column-gap: 5vw;
  column-gap: 5vw;
  background-color: #EBECE2;
  padding: 50px 5vw 50px 5vw;
  justify-items: center;

    @media (max-width: 768px) {
    column-gap: 0px;
    padding: 30px 5vw 30px 5vw;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
.page_feature__CrGCB {
  font-family: serif;
}

/* not-found.js */
.page_contain__NbyHo {
  height: calc(100vh - 130px);
  background-color: #EBECE2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  gap: 10px;
  align-items: center;

  @media (max-width: 768px) {
    height: calc(100vh - 60px);
  }
}
.page_btn__VzVq_ {
  background-color: #e2eeec;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* loading.js */
.page_load__Tcp0b {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
